<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoangVQ - Admintheme - 01</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
<!--  <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">-->
</head>

<body>
<div id="admin-theme">


  <!-- CONTENT -->
  <div class="admin-theme-content">

    <!-- Slidebar -->

    <!-- ---Slidebar -->

    <!-- Main -->
    <div class="main-content">
      <div class="main-show">

        <!-- DataShow -->
        <div id="table-manager">
          <div class="table-header">
            <p><i class="ti-layout"></i> Danh sách nhà cho thuê</p>
          </div>
          <div class="line-big"></div>
          <div class="table-content">
            <div class="table-content-show">
              <table>
                <thead>
                <tr>
                  <th>Mã số nhà</th>
                  <th>Tên Căn hộ</th>
                  <th>Hình Ảnh</th>
                  <th>Địa chỉ</th>
                  <th>Số phòng ngủ</th>
                  <th>Số phòng tắm</th>
                  <th>Giá cho thuê</th>
                  <th>Trạng thái</th>
                  <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let house of houses; index as i">
                  <td>{{house.id}}</td>
                  <td>{{house.name}}</td>
                  <td><img
                    src="https://sieupet.com/sites/default/files/pictures/images/cho-corgi-4.jpg"
                    alt=""></td>
                  <td>{{house.address}}</td>
                  <td>{{house.bedroom}}</td>
                  <td>{{house.bathroom}}</td>
                  <td>{{house.price | currency: "VND"}}</td>
                  <td>{{house.status}}</td>
                  <td>
                    <button class="update">Sửa</button>
                    <button class="delete">Xóa</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- ---DataShow -->

      </div>
    </div>
    <!-- ---Main -->

  </div>
  <!-- ---CONTENT -->
</div>
</body>

</html>
