<div class="admin-theme-content">


  <!-- Main -->
  <div class="main-content">
    <div class="main-show">

      <!-- DataShow -->
      <div id="table-manager">
        <div class="table-header">
          <p><i class="ti-layout"></i> Lịch sử sử dụng dịch vụ</p>
        </div>
        <div class="line-big"></div>
        <div class="table-content">
          <div class="table-content-show">
            <table>
              <thead>
              <tr>
                <th>Mã số nhà</th>
                <th>Tên Chủ hộ</th>
                <th>Tên Căn hộ</th>
                <th>Địa chỉ</th>
                <th>Ngày thuê</th>
                <th>Ngày trả</th>
                <th>Giá cho thuê</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>01</td>
                <td>Biệt thự ven biển</td>
                <td>Biệt thự ven biển</td>
                <td>R5A Royalcity - Nguyễn Trãi - Thanh Xuân - Hà Nội</td>
                <td>11/11/1111</td>
                <td>13/11/1111</td>
                <td>2.000.000đ</td>
                <td>6.000.000đ</td>
                <td>Chờ xử lý</td>
                <td>
                  <button class="delete">Hủy</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- ---DataShow -->

    </div>
  </div>
  <!-- ---Main -->

</div>
