<div class="admin-theme-content">


  <!-- Main -->
  <div class="main-content">
    <div class="main-show">

      <!-- DataShow -->
      <div id="table-manager">
        <div class="table-header">
          <p><i class="ti-layout"></i> Lịch sử sử dụng dịch vụ</p>
        </div>
        <div class="line-big"></div>
        <div class="table-content">
          <div class="table-content-show">
            <table>
              <thead>
              <tr>
                <th>Mã số nhà</th>
                <th>Tên Căn hộ</th>
                <th>Địa chỉ</th>
                <th>Ngày thuê</th>
                <th>Ngày trả</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders|paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                <td>{{order.id}}</td>
                <td>{{order.house.name}}</td>
                <td>{{order.house.address}}</td>
                <td>{{order.start_date}}</td>
                <td>{{order.end_date}}</td>
                <td>{{order.price}}</td>
                <td>{{order.status}}</td>
                <td>
                  <button onclick="confirm('Bạn có chắc muốn hủy không ?')" (click)="deleteOrder(i)">Hủy</button>
                </td>
              </tr>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- ---DataShow -->

    </div>
  </div>
  <!-- ---Main -->

</div>
