<div id="heading">
  <div class="header-logo">
    <div class="header-logo-1">
      <h3 routerLink="home">LS</h3>
    </div>
  </div>
  <div class="header-menu">
    <ul class="menu-content">
<!--      <li>-->
<!--        <div class="search-box">-->
<!--          <input type="text" class="search-input" placeholder="Tìm kiếm tại đây....">-->
<!--        </div>-->
<!--      </li>-->
      <li><a routerLink="home">Trang chủ</a></li>
      <li><a routerLink="house">Homestay</a></li>
    </ul>
    <div class="li-avatar">
      <img class="avatar"
           src="https://media.istockphoto.com/vectors/smile-vector-template-design-vector-id989932050?k=20&m=989932050&s=612x612&w=0&h=09i0wMs25PRw9yeicF0t9-5bS6Z-I3YWlJpWZMIhZyk="
           alt="">
      <ul class="avatar-menu">
        <li><a routerLink="userProfile">Thông tin cá nhân</a></li>
        <li><a routerLink="order">Lịch sử giao dịch</a></li>
        <li><a (click)="logout()">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ---HEADING -->
